<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cefetmg.inf.android.medidaexata.activities">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_medida_exata"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_medida_exata"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.BoasVindasActivity" />
        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.IntroducaoActivity" />
        <!--<activity
            android:name="br.cefetmg.inf.medidaexata.view.activities.OnboardingActivity"
            android:label="@string/title_activity_guia_usuario"></activity>-->
        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.OnboardingActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>