<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cefetmg.inf.android.medidaexata.activities">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_medida_exata_4x"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_medida_exata_4x"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">


        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.OnboardingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.MainActivity" >

        </activity>

    </application>

</manifest>