<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cefetmg.inf.android.medidaexata.activities">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_medida_exata"
        android:roundIcon="@drawable/ic_medida_exata"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.cefetmg.inf.medidaexata.view.activities.BoasVindasActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.cefetmg.inf.medidaexata.view.activities.IntroducaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.cefetmg.inf.medidaexata.view.activities.DisciplinasActivity"
            android:screenOrientation="portrait" />
        <activity android:name="br.cefetmg.inf.medidaexata.view.activities.QuestaoActivity"></activity>
    </application>

</manifest>